.container {
  width: 500px;
  background: #d94a38;
  text-align: center;
  margin: 50px auto;
  padding: 40px;
}

button.btn {
  border: 0;
  padding: 10px 30px;
  background: azure;
  margin: 10px 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: .3s all;
}
button.btn:hover {
  background: #d94a38;
  border: 1px solid #f0ffff;
  color: #fff;
}

form.form-wrap input {
  height: 33px;
  border: 0;
}

/* Disabled class for player */

.disablepOn {
  pointer-events: none;
}
.disablepTwo {
  pointer-events: none;
}
.activePlayerOn {
  pointer-events: all;
}
.activePlayerTwo {
  pointer-events: all;
}